main {
    flex: 1;
    padding: 1rem 1rem 5rem 1rem;
    display: flex;
    flex-direction: column;
}

footer {
    min-height: 50px;
    background-color: var(--p-slate-400);

    @media (prefers-color-scheme: dark) {
        background-color: var(--p-slate-800);
    }
}

