<app-header></app-header>
<main>
<router-outlet />
</main>
<footer></footer>
<!-- 
<div class="colors-container">
<div>
  <p class="muestra slate-0"></p>
  <p class="muestra slate-50"></p>
  <p class="muestra slate-100"></p>
  <p class="muestra slate-200"></p>
  <p class="muestra slate-300"></p>
  <p class="muestra slate-400"></p>
  <p class="muestra slate-500"></p>
  <p class="muestra slate-600"></p>
  <p class="muestra slate-700"></p>
  <p class="muestra slate-800"></p>
  <p class="muestra slate-900"></p>
  <p class="muestra slate-950"></p>
</div>
<div>
  <p class="muestra primary-0"></p>
  <p class="muestra primary-50"></p>
  <p class="muestra primary-100"></p>
  <p class="muestra primary-200"></p>
  <p class="muestra primary-300"></p>
  <p class="muestra primary-400"></p>
  <p class="muestra primary-500"></p>
  <p class="muestra primary-600"></p>
  <p class="muestra primary-700"></p>
  <p class="muestra primary-800"></p>
  <p class="muestra primary-900"></p>
  <p class="muestra primary-950"></p>
</div>

<div>
  <p class="muestra secondary-0"></p>
  <p class="muestra secondary-50"></p>
  <p class="muestra secondary-100"></p>
  <p class="muestra secondary-200"></p>
  <p class="muestra secondary-300"></p>
  <p class="muestra secondary-400"></p>
  <p class="muestra secondary-500"></p>
  <p class="muestra secondary-600"></p>
  <p class="muestra secondary-700"></p>
  <p class="muestra secondary-800"></p>
  <p class="muestra secondary-900"></p>
  <p class="muestra secondary-950"></p>
</div>
</div> -->