<div class="flex align-items-center justify-content-end mb-3">
    <p-floatlabel variant="on">
        <p-datepicker [(ngModel)]="selectedYear" view="year" dateFormat="yy" [maxDate]="currentYear" [minDate]="minYear"
            [iconDisplay]="'input'" [showIcon]="true" (onSelect)="onYearSelected($event)" />
        <label for="on_label">Year</label>
    </p-floatlabel>
</div>
@if(rounds.length > 0){
<h1>Eurovision Song Contest {{contestDetails.city}} {{contestDetails.year}}</h1>
<app-contests-details [contestDetails]="contestDetails" class="flex mb-3"></app-contests-details>
<h2 class="mt-5 mb-2">Results</h2>
<app-contests-results [rounds]="rounds" (rowSelected)="onRowSelected($event)"></app-contests-results>
}

<p-drawer [visible]="detailsOpen()" (onHide)="detailsOpen.set(false)" header="Detailed Votes" position="right" 
class="contest__drawer">
  @if (detailsOpen() && selectedPerformance()) {
    <app-contest-participant-details [performance]="selectedPerformance()!" />
  }
</p-drawer>